@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;

    --app-color: #F1582C;

    @apply p-0 m-0 min-w-0
  }
  html, :root, body {
    @apply text-white bg-black font-sans
  }
}
